<!DOCTYPE html>
<!-- root of the doc -->
<!-- opening tag -->
<html>
    <!-- nesting the head and the body elements within the html element -->
    <!-- element -->
    <head></head>
        <link rel="stylesheet" href="../../../stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
        <link rel="stylesheet" href="../../../stylesheets/lib.css">
        <!-- metadata -->
        <title>Finstagram</title>
    <body>
        <!-- content goes within body -->
        <header>
            <h1>Finstagram</h1>
        </header>
        <main role="main">
            <article class="finstagram-post">
                <div class="user-info">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUV6iIw6tNQARMJZ2rZ7uVHtJr0-wH1Nu0dQ&usqp=CAU" alt="wholesome_spongebob"
                    width="100"
                    height="50">
                    <h2>wholesome_spongebob</h2>
                    <h3>15 minutes ago</h3>
                </div>
                <a class=photo href="#">
                    <img src="https://wallpapers.com/images/hd/cute-aesthetic-spongebob-cartoon-6m3a3fmyqfb2tsrq.jpg" alt="post from wholesome_spongebob"
                </a>
                <div class="actions">
                    0 likes
                    <span class="comments-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            wholesome_spongebob: Me knowing we're about to get into the holiday season.
                        </p>
                    </li>
                </ul>
            </article>
        </main>
            <a href="https://google.ca">Search Google</a>
            <form>
                <label for="username">Username</label>
                <input type="text" name="Username">
                <label for="password">Enter Password</label>
                <input type="password">
                <button type="submit">Submit</button>
            </form>
    </body>
<!-- closing tag -->
</html>