<!DOCTYPE html>
<!-- root of the doc -->
<!-- opening tag -->
<html>
    <!-- nesting the head and the body elements within the html element -->
    <!-- element -->
    <head></head>
        <link rel="stylesheet" href="../../../stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../../stylesheets/lib.css">
        <link rel="stylesheet" href="../../../stylesheets/app.css">
        <!-- metadata -->
        <title>Finstagram</title>
    <body>
        <!-- content goes within body -->
        <header>
            <h1>Finstagram</h1>
        </header>
        <main role="main">
            <article class="finstagram-post">
                <div class="user-info">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUV6iIw6tNQARMJZ2rZ7uVHtJr0-wH1Nu0dQ&usqp=CAU" alt="wholesome_spongebob">
                    <h2>wholesome_spongebob</h2>
                    <h3>15 minutes ago</h3>
                </div>
                <a class=photo href="#">
                    <img src="https://wallpapers.com/images/hd/cute-aesthetic-spongebob-cartoon-6m3a3fmyqfb2tsrq.jpg" alt="post from wholesome_spongebob">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comments-count">0 comments</span>
                </div>
                    <ul class="comments">
                        <li>
                            <p>
                                wholesome_spongebob: Me knowing we're about to get into the holiday season.
                            </p>
                        </li>
                    </ul>
            </article>

            <article class="finstagram-post">
                <div class="user-info">
                    <img src="https://i.pinimg.com/564x/e0/e2/8a/e0e28acf97e84b001e858e19c10bf3a9.jpg" alt="puny.plankton4">
                    <h2>puny.plankton4</h2>
                    <h3>1 hour ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="https://i.pinimg.com/originals/9c/a3/80/9ca3805548f5e783733cfbc5a998ba32.jpg" alt="finstagram post from puny.plankton4">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                    <ul class="comments">
                        <li>
                            <p>
                                puny.plankton4: Definitely not on our way to the Krusty Krab!
                            </p>
                        </li>
                    </ul>
            </article>

            <article class="finstagram-post">
                <div class="user-info">
                    <img src="https://i.pinimg.com/originals/e4/d9/50/e4d950f1332f136e7f9a21d6e499e949.jpg" alt="handsome-squidward">
                    <h2>handsome-squidward</h2>
                    <h3>3 hours ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="https://media.tenor.com/lQ87s0dLeRYAAAAC/clarinet-squidward.gif" alt="finstagram post from handsome-squidward">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>handsome-squidward: Thanks everyone for a great concert last night! </p>
                    </li>
                </ul>
            </article>

        </main>
            <a href="https://google.ca">Search Google</a>
            <form>
                <label for="username">Username</label>
                <input type="text" name="Username">
                <label for="password">Enter Password</label>
                <input type="password">
                <button type="submit">Submit</button>
            </form>
    </body>
<!-- closing tag -->
</html>